<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.linker_kotlin">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SPEAKER" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".LinkerApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="Linker_Kotlin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BlueAppTheme"
        tools:targetApi="n">

        <activity
            android:exported="true"
            android:name=".UI.OpeningActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.LoginActivity" />
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.MainActivity"/>

        <activity
            android:name=".UI.PersonalActivity"
            android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity"/>
        </activity>
        <activity
        android:name=".UI.AddGroupActivity"
        android:parentActivityName=".UI.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.AddFriendActivity"
            android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>

        <activity
            android:name=".UI.CallGoing" />
        <activity
            android:name=".UI.CallIncoming"/>
        <activity
            android:name=".UI.CallVideo"/>

        <activity
            android:name=".UI.ContactListActivity">
        </activity>

        <activity
            android:name=".UI.ChatActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:label="Linker_Kotlin"
                android:value=".UI.MainActivity" />
        </activity>
        <service android:name="org.linphone.core.tools.service.CoreService"
            android:foregroundServiceType="phoneCall|camera|microphone"
            android:stopWithTask="false" />

    </application>
</manifest>